<header class="navbar m-3">
  <nav class="container">
    <a class="navbar-brand text-white fs-5">GB Watch</a>
    <img
      src="../../assets/menu.png"
      style="transform: scale(120%)"
      alt="menu"
      data-bs-toggle="offcanvas"
      href="#offcanvasExample"
      role="button"
      aria-controls="offcanvasExample"
    />

    <div
      class="offcanvas offcanvas-end dark-background"
      tabindex="-1"
      id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel"
    >
      <div class="offcanvas-header d-flex justify-content-end">
        <button
          type="button"
          class="btn-close bg-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <h2 class="h2">Home</h2>
        <h2 class="h2">Search</h2>
        <h2 class="h2">List</h2>
      </div>
    </div>
  </nav>
</header>
