<div id="carouselExample" class="container carousel carousel-fade">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://lh6.googleusercontent.com/1GZmmWHTvxA5tM-RSylzrnMxsOE14R86y9MzYKSy85CQxTy7rF9FxkbfvFHe7vH428_qrAyKx0p4Jfx7T-vhiQ1qzKO7FR2ka_LnNwcLi4wsnmRWv22OqfPxlaOGgoocbgm9lLkn-zuIWvtqZxxd_nt-3588SfRRyfhbH0NEGh5Roj9ADlQM6IV_4KYELg"
        class="d-block w-100 rounded-4"
        alt="..."
         style="max-height: 500px; object-fit: cover;"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://i.ytimg.com/vi/uT5X9aDYcPw/maxresdefault.jpg"
        class="d-block w-100 rounded-4"
        alt="..."
         style="max-height: 500px; object-fit: cover;"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://i.ytimg.com/vi/BpdDN9d9Jio/maxresdefault.jpg"
        class="d-block w-100 rounded-4"
        alt="..."
         style="max-height: 500px; object-fit: cover;"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
