@import "../../styles.scss";

p,
h4 {
  color: white;
  font-family: $poppins;
}

p {
  font-size: 0.8rem;
}

h4 {
  font-size: 1.5rem;
}

button {
  display: flex;
  padding: 3px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #b7b7b7;
  background-color: transparent;
  color: #b7b7b7;
}

img {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: indigo;
  object-fit: cover;
}
